main {
}


.top-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 150px;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: inset 0 -1px 0 0 #e1e1e1;
}
