
.top-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 150px;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: inset 0 -1px 0 0 #e1e1e1;
}

.main-content {
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  
  .loading-message {
    text-align: center;
    margin-top: 1rem;
  }


 .gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px; 
}

.gallery-grid img {
  width: 100%;
  height: 66vh; /* 2/3 of the viewport height */
  object-fit: cover; /* Ensures the image covers the area */
}