.pageContainer {
  display: flex;
  min-height: 100vh;
}


.navItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.navIcon {
  font-size: 1.25rem;
}

.mainContent {
  min-height: 100vh;
  padding: 20px;
}

.mainContentInner {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.pageTitle {
  font-size: 2rem;
  font-weight: bold;
}

.headerIcons {
  display: flex;
  gap: 1rem;
}

.iconButton {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.card h3 {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.statNumber {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.wideCard {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.viewAllButton {
  background: #18181b;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.viewAllButton:hover {
  background: #27272a;
}

@media (min-width: 1024px) {
  .cardsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .wideCard {
    grid-column: span 2;
  }
}

.authContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton {
  display: flex;
  position: absolute;
  top: -3rem;
  right: 1rem;
  z-index: 100;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* width: 200px; */
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
