.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  padding: 0 1rem;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; */
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
} 