.container {
  display: flex;
  flex-direction: column;
  gap: 0 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
  margin-top: 4rem;
  min-height: 100vh;
  height: auto;
  background-color: #f9fafb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.5rem;
  background-color: #f9fafb;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
}

.contentWrapper {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  position: relative;
}

.add-button {
  padding: 0.75rem 1.25rem;
  background: #000;
  color: white;
  border-radius: 0.75rem;
  font-size: 1rem;
}
