.design-image {
  width: 60%;
  max-width: 480px;
  height: auto;
  aspect-ratio: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  /* gap: 0.1rem; */
  margin-top: 1rem;
}

.image-container {
  position: relative;
  width: 100%;
} 